/* theme-1 styling */

.theme-1 button {
  text-shadow: 0px 0px 3px darkgoldenrod;
  color: white;
}

.theme-1 > .accent  {
  background: rgba(255,159,12);
}

.theme-1 > .active {
  background: rgba(50, 30, 0, .3) !important;
  color: white !important;
}

.theme-1.base{
  background: rgba(50, 30, 0, .8);
  color: white;
}

.theme-1  > .button {
  background: rgba(50, 30, 0, .48);
  color: white;
}

.theme-1 > .secondary  {
  background: rgba(50, 30, 0, .64);
}

/* end theme-1 styling */

/* theme 2 */

.theme-2 button{
  text-shadow: 0px 0px 3px #d89393;
  color: black;
}

.theme-2 > .accent  {
  background: rgb(204, 0, 0);
}

.theme-2 > .active {
  background: rgba(50, 30, 0, .3) !important;
  color: black !important;
}

.theme-2.base{
  background: rgba(0, 0, 0, 0.5);
  color: black;
  text-shadow: 0px 0px 2px lightgray;
}

.theme-2  > .button {
  background: rgba(0, 0, 0, .3);
  color: black;
}

.theme-2 > .secondary  {
  background: rgba(0, 0, 0, .4);
}

/* end theme-2 styling */

/*  Default Styles */

body {
  background: rgba(255, 196, 105, .4);
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottom-row{
  margin-left: 0;
  margin-right: 0;

}

button.toggle-theme {
  background: rgba(0,0,0,.3);
  border: none;
  border-radius: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 2vh;
  font-weight: 100;
  letter-spacing: 2px;
  position: absolute;
  transition: .3s ease-in;
  z-index: 300;
}

button.toggle-theme:hover {
  background: rgba(0,0,0,.5);
}

button.toggle-theme:focus{
  box-shadow: none;
}

.calculator {
  background: lightgray;
  border-right: 1px inset black;
  border-bottom: 1px inset black;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column-right {
  background: lightblue;
}

.container {
  padding: 0;
}

.container-buttons {
  padding: 0;
}

.container-result {
  border-top: 1px solid black;
  border-left: 1px solid black;
  text-align: right;
  font-size: 7vw;
  font-weight: 100;
}

.row-buttons{
  min-height: 12vh;
  margin-left: 0;
  margin-right: 0;
}

.row-buttons:last-child{
  border-bottom: none;
}

.row-buttons .container-button {
  padding: 0;
}

.row-buttons .container-button .btn {
  border-top: 1px inset black;
  border-right: none;
  border-bottom: none;
  border-left: 1px inset black;
  border-radius: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 3.75vw;
  font-weight: 100;
  line-height: 3.75vw;
  min-height: 100%;
  min-width: 100%;
}

.row-buttons .container-button .btn:focus{
  box-shadow: none !important;
}

.top-row{
  min-height: 20vh;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 420px){
  .calculator{
    margin: 12.5vh 8.33vw;
    max-width: 83.33VW;
    min-height: 75vh;
    padding: 0;
  }

  .container-result {
    font-size: 10vh;
    padding-top: 2.25vh;
    line-height: 12vh;
  }

  .row-buttons{
    min-height: 12.5vh;
  }

  .row-buttons .container-button .btn {
    font-size: 6.5vw;
  }

  .top-row{
    min-height: 15vh;
  }
}

@media (min-width: 420px) and (max-width: 575px){
  .calculator{
    margin: 12.5vh 16.67vw;
    max-width: 66.68vw;
    min-height: 60vh;
    padding: 0;
  }

  .container-result {
    font-size: 10vh;
    font-weight: 100;
    line-height: 15vh;
    padding-top: 4vh;
  }

  .row-buttons{
    min-height: 10vh;
  }

  .row-buttons .container-button .btn {
    font-size: 5vw;
  }

  .top-row{
    min-height: 20vh;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .calculator{
    margin: 12.5vh 16.67vw;
    max-width: 66.68vw;
    min-height: 60vh;
    padding: 0;
  }

  .container-result {
    font-size: 12.5vh;
    font-weight: 100;
    line-height: 15vh;
    padding-top: 4vh;
  }

  .row-buttons{
    min-height: 10vh;
  }

  .row-buttons .container-button .btn {
    font-size: 5.5vw;
  }

  .top-row{
    min-height: 20vh;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .bottom-row {
    min-height: 65vh;
    max-height: 65vh;
  }

  .calculator{
    margin: 10vh 16.67vw;
    max-width: 66.68vw;
    min-height: 80vh;
    padding: 0;
  }

  .row-buttons{
    min-height: 13vh;
  }

  .row-buttons .container-button .btn {
    font-size: 5.25vw;
  }

  .top-row{
    min-height: 15vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .calculator{
    margin: 10vh 16.67vw;
    max-width: 66.68vw;
    min-height: 80vh;
    padding: 0;
  }

  .row-buttons{
    min-height: 12vh;
  }
}

@media (min-width: 1200px){
  .calculator{
    margin: 10vh 16.67vw;
    max-width: 66.68vw;
    min-height: 80vh;
    padding: 0;
  }

  .row-buttons{
    min-height: 12vh;
  }
}
